{% extends 'base.html.twig' %}

{#{% block title %}Prestation{% endblock %}#}

{% block content %}
	<div class="error">
		<h1>Erreur 500 : Erreur interne du serveur</h1>
		<p>Il y a eu une erreur interne sur le serveur. Veuillez réessayer plus tard.</p>
	</div>
{% endblock %}
