{% extends 'base.html.twig' %}

{#{% block title %}Prestation{% endblock %}#}

{% block content %}
	<div class="error">
		<h1>Erreur 404 : Non trouvé</h1>
		<p>La ressource demandée n'a pas été trouvée sur le serveur.</p>
	</div>
{% endblock %}
