{% extends 'base.html.twig' %}

{#{% block title %}Prestation{% endblock %}#}

{% block content %}
	<div class="error">
		<h1>Erreur 400 : Demande incorrecte</h1>
		<p>La demande est malformée et ne peut pas être traitée par le serveur.</p>
	</div>
{% endblock %}
