{% extends 'base.html.twig' %}

{#{% block title %}Prestation{% endblock %}#}

{% block content %}
	<div class="error">
		<h1>Erreur 403 : Interdit</h1>
		<p>Vous n'avez pas les autorisations nécessaires pour accéder à cette ressource.</p>
	</div>
{% endblock %}
